{% load static %}
<html>
<head>
      <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.codecademy.com/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <title>{% block title %}Django Delights{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="app">
  <header>
    <div class="header-first-row">
    <a href="{% url 'home' %}"><h1>Cafe delicacy</h1></a>

      {% if user.is_authenticated %}
      <a class="logout" href="{% url 'logout' %}">Logout</a>
    </div>
      <h3>Welcome to Cafe delicacy {{ user.username }}!</h3>
      <nav class="navbar">
        {% url 'ingredientlist' as ingredients_url %}
        {% url 'menulist' as menulist_url %}
        {% url 'recipelist' as recipelist_url %}
        {% url 'purchascreate' as purchascreate_url %}
        {% url 'purchaslist' as purchaslist_url %}
        <a class="nav-item{% if request.path == ingredients_url %} current-page {% endif %}" href="{% url 'ingredientlist' %}"><p>Ингредиенты</p></a>
        <a class="nav-item{% if request.path == menulist_url %} current-page {% endif %}" href="{% url 'menulist' %}"><p>Меню</p></a>
        <a class="nav-item{% if request.path == recipelist_url %} current-page {% endif %}" href="{% url 'recipelist' %}"><p>Рецепт</p></a>
        <a class="nav-item{% if request.path == purchascreate_url %} current-page {% endif %}" href="{% url 'purchascreate' %}"><p>Заказать</p></a>
        <a class="nav-item{% if request.path == purchaslist_url %} current-page {% endif %}" href="{% url 'purchaslist' %}"><p>Список заказов</p></a>
        {% else %}
        <a class="logout" href="{% url 'signup' %}">Зарегистрироваться</a>
        {% endif %}
      </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  </div>
</body>
</html>