<head>
</head>
<body>
<a href="{% url 'home' %}"><h1>Cafe delicacy</h1></a>
<h3>Welcome to Cafe delicacy {{ name }}!</h3>
<a href="{% url 'ingredientlist' %}"><p>Ingridients list</p></a>
<a href="{% url 'ingredientcreate' %}"><p>Create ingridient</p></a>
<a href="{% url 'menulist' %}"><p>Menu list</p></a>
<a href="{% url 'menucreate' %}"><p>Create menu</p></a>
<a href="{% url 'recipelist' %}"><p>Recipe list</p></a>
<a href="{% url 'recipecreate' %}"><p>Create new recipe</p></a>
<a href="{% url 'purchaslist' %}"><p>purchas list</p></a>
<a href="{% url 'purchascreate' %}"><p>Purchas create</p></a>
    {% block content %}
    {% endblock %}
</body>