{% extends './base.html' %}
{% block content %}
 <a href="{% url 'ingredientcreate' %}"><button class="button1" style="width:300px;height:50px">Создать ингридиент</button></a>

<table id="ingredient">
  <tr>
    <th>Наименоваание</th>
    <th>Колличество</th>
    <th>Единицы</th>
    <th>Цена $</th>
      <th> </th>
      <th> </th>
  </tr>
  {% for ingredient in ingredients_list %}
  <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.quantity }}</td>
      <td>{{ ingredient.unit }}</td>
      <td>{{ ingredient.unit_price }}</td>
      <td><a href="{% url 'update_ingredient' ingredient.pk %}"><button>Обновить</button></a></td>
      <td><a href="{% url 'ingredientdelete' ingredient.pk %}"><button>Удалить</button></a></td>
  </tr>
  {% endfor %}
</table>
  {% endblock %}