{% extends './base.html' %}
{% block content %}
<table id="ingredient">
  <tr>
    <th>Меню</th>
    <th>Time</th>
      <th> </th>
      <th> </th>
  </tr>
  {% for purchas in purchases_list %}
  <tr>
      <td>{{ purchas.menuitem }}</td>
      <td>{{ purchas.timestamp }}</td>
  </tr>
  {% endfor %}
</table>
    <hr/>
    <h2>Результат</h2>
    <div style="color: green;">Общий доход: ${{ revenue|stringformat:".2f" }}</div>
    <div style="color: red;">Общая стоимость: ${{ total_cost|stringformat:".2f" }}</div>
    <div style="color: blue;">Общая прибыль: ${{ profit|stringformat:".2f" }}</div>
  {% endblock %}